

:root {
    // --color-blue: #304FFE;
    --color-mode:#f2f2f2;
    --color-primary: #E91E63;
    --color-primary-light:#F8BBD0;
    --color-secondary: #304FFE;
    --color-secondary-light:  #C5CAE9;
    --color-text-primary: rgba(0, 0, 0, 0.87);
    --color-text-secondary: rgba(0, 0, 0, 0.54);

    --color-dashed-border: rgba(0, 0, 0, 0.12);
    --color-text-field:rgba(0, 0, 0, 0.42);
    --color-arrow-bg: #ebebeb;
    --color-arrow-fill: #000001;
    --color-paper-light: #ffffff;
    --color-heading-primary: #263238;
    --color-social-icon: #304FFE;

}
.light-mode {
    --color-mode:#f2f2f2;
    --color-primary: #E91E63;
    --color-primary-light:#F8BBD0;
    --color-secondary: #304FFE;
    --color-secondary-light:  #C5CAE9;
    --color-text-primary: rgba(0, 0, 0, 0.87);
    --color-text-secondary: rgba(0, 0, 0, 0.54);

    --color-dashed-border: rgba(0, 0, 0, 0.12);
    --color-text-field:rgba(0, 0, 0, 0.42);
    --color-arrow-bg: #ebebeb;
    --color-arrow-fill: #000001;
    --color-paper-light: #ffffff;
    --color-heading-primary: #263238;
    --color-social-icon: #304FFE;

}

.dark-mode {
    --color-mode: #303030;
    --color-primary:#F8BBD0;
    --color-primary-light:#880E4F;
    --color-secondary: #C5CAE9;
    --color-secondary-light: #1A237E;   
    --color-text-primary: #FFFFFF;
    --color-text-secondary: rgba(255, 255, 255, 0.54);
    --color-dashed-border: rgba(255, 255, 255, 0.12);
    --color-text-field: rgba(255, 255, 255, 0.25);
    --color-arrow-bg: #424242;
    --color-arrow-fill: #FFFFFF;
    --color-paper-light:#424242;
    --color-heading-primary: #FFFFFF;
    --color-social-icon: #FFFFFF;
}








// $default-font-size: 1.6rem;






