.btn {
    border-radius: 3.9rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}


.toggle-btn {
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.1rem;

    @include respond(phone) {
        top: 1rem;
    }
}

.toggle-btn  .bar {
    height: 0.3rem;
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 1rem;
}

.burger {
    display: none;

    @include respond(tab-port) {
        display: flex;
    }

    
}




