.slider {
    position: relative;
    max-width: 97.4rem;
    background-color: var(--color-secondary-light);
    border-radius: 2.5rem;
    mix-blend-mode: normal;
    padding-left: 4rem;
    box-shadow: #00000073 0px 14px 28px, #00000038 0px 10px 10px;
    margin: 0 auto;

    @include respond(tab-land) {
        max-width: 90rem;
    }

    @include respond(tab-port) {
        max-width: 70rem;
    }
    @include respond(phone) {
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        
    }
 
    
    &__arrow {

        &--prev {
            width: 7.4rem;
            height: 7.4rem;
            background-color: var(--color-arrow-bg);
            border-radius: 50%;
            fill: var(--color-arrow-fill);
            position: absolute;
            top: 45%;
            z-index: -1;
            transform: translateX(-50%); 
            left: 0;

            @include respond(tab-land) {
                width: 6.5rem;
                height: 6.5rem;
            }

            @include respond(tab-port) {
                width: 5rem;
                height: 5rem;
            }

            @include respond(phone) {
                display: none;
            }
            
            
        }


        &--next {
            width: 7.4rem;
            height: 7.4rem;
            background-color: var(--color-arrow-bg);
            
            border-radius: 50%;
            fill: var(--color-arrow-fill);
            // padding: 2.5rem 1.3rem;
            position: absolute;
            top: 45%;
            z-index: -1;
            transform: translateX(50%);
            right: 0;
            
            @include respond(tab-land) {
                width: 6.5rem;
                height: 6.5rem;
            }

            @include respond(tab-port) {
                width: 5rem;
                height: 5rem;
            }
            @include respond(phone) {
                display: none;
            }
        }   

    }

    &__movie-caption {
        padding-top: 9.3rem;
        // padding-right: 5.8rem;

        @include respond(tab-port) {
            padding-top: 6rem;
        }

        @include respond(phone) {
            padding-top: 2rem;
            // padding-left: 2rem;
            display: flex;
            justify-content: center;

        }

        
        span {
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 2.7rem;
            color: var(--color-text-primary);

            
            @include respond(tab-port) {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }

            @include respond(phone) {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
       
        

    }

    &__movie-name {
        
        padding-top: 1.6rem;

        @include respond(phone) {
            display: flex;
            justify-content: center;
        }

        span {
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 4.4rem;
            color: var(--color-text-primary);

            @include respond(tab-port) {
                font-size: 2.6rem;
                line-height: 3rem;
            }

            
            }

    }

    &__movie-rating {
        padding-top: 2.4rem;
        gap: 3.9rem;

        @include respond(phone) {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            gap: 1rem;
        }
        
        

        span {
            @include middle-size;
            color: var(--color-text-primary);
        }

    }

    &__star-icon {
        gap: 0.8rem;
    }

    &__rating-point {
        @include middle-size;
        color: var(--color-text-primary);
        border-right: 1px solid var(--color-text-primary);
        padding-right: 1.8rem;
    }

    &__duration {
        @include middle-size;
        color: var(--color-text-primary);
    }
    &__icon {
        width: 2.3rem;
        height: 2.1rem;
        fill: #ff9500;  
        gap: 0.8rem;
        
        

    }
    &__rating-time {
        gap: 1.9rem;
    }

    &__movie-about {
        padding-top: 2.4rem;
        

        @include respond(phone) {
            display: flex;
            justify-content: center;
            padding: 0;
            
        }

        span {
            font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--color-text-primary);

        @include respond(phone) {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
        }

    }

    &__movie-link {
        padding-top: 4rem;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
       
    }

    &__trailer-link {
        @include default-text;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-secondary);
        cursor: pointer;
        padding: 1.4rem 1.6rem;

        @include respond(tab-port) {
            font-size: 1.3rem;
            line-height: 1.6rem;
        }

        

        &:hover {
            background-color: #e91e63;
            color: #ffffff;
            transform: all 0.4;
            border-radius: 3.9rem;
        }

    }

    &__full-link {
        @include default-text;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-secondary);
        cursor: pointer;
        padding: 1.4rem 1.6rem;

        @include respond(tab-port) {
            font-size: 1.3rem;
            line-height: 1.6rem;
        }

        

        &:hover {
            background-color: #e91e63;
            color: #ffffff;
            transform: all 0.4;
            border-radius: 3.9rem;
            backface-visibility: hidden;
        }

    }

    &__picture {
        padding: 2rem;
        padding-right: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include respond(phone) {
            display: flex;
            justify-content: center;
            padding: 0;
        }
        

    }

    &__img {
        width: 32.44rem;
        height: 44.6rem;

        @include respond(tab-port) {
            width: 27rem;
            height: 39rem;
        }

        @include respond(phone) {
            width: 18rem;
            height: 28rem;
        }
        
        
    }
    
}


   